<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="enterRoom" method="post">
    房间名：<input type="text" placeholder="房间名" required="required" name="roomNumber">
    <input type="submit" value="进入">
</form>
<ul>
    <%
    for(var i=0;i<roomList.length;i++){
        if(typeof(roomList[i])!= "undefined")
        {
        %>
        <li>
            <%=i+": "+roomList[i].length%>
        </li>
        <%
        }
    };
    %>
</ul>
</body>
</html>