html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#videos {
    width: 100%;
    height:100%;
}

#videos video {
    display: inline-block;
    width: 100%;
}

#chat {
    top: 50px;
    height: 580px;
    width: 280px;
    background: rgba(0,0,0,0.8);
}

#fileIpt, .sendFileBtn{
    /*display: none;*/
}
#chat .msgIpt, #chat .fileIpt{
    position: absolute;
    left: 0;
    width: 80%;
}
#chat .sendBtn, #chat .sendFileBtn {
    position: absolute;
    left: 80%;
    width: 20%;
}
#chat .msgIpt,#chat .sendBtn {
    bottom: 0;
}
#chat .fileIpt, #chat .sendFileBtn {
    bottom: 30px;
}

#chat .msgs {
    padding: 5%;
}
#chat .msgs p{
    margin: 0.3em 0;
}
#files {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
}
#files .name {
}
#files .percent {
    font-weight: bold;
    text-decoration: none
}

.gridly {
    position: relative;
    width: 100%;
}

.brick{
    overflow: hidden;
    display: table;
}

.brick.small {
    background: #000;
    width: 280px;
    height: 280px;
}
.brick.large {
    background: #fc3;
    width: 580px;
    height: 580px;
}

.brick span{
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
}